<template>
  <div>
    <div class="chartContainer" v-bind:id="id"></div>
  </div>
</template>

<script>
  import Highcharts from 'highcharts'

  export default {
    props: [ 'chartData', 'id' ],
    watch: {
      chartData() {
        this.renderChart()
      }
    },
    methods: {
      renderChart() {
        Highcharts.chart(this.id, {
          chart: {
            type: this.chartData.chartType,
            zoomType: 'x',
          },
          title: {
            text: this.chartData.chartName
          },
          xAxis: {
            categories: this.chartData.categories
          },
          tooltip: {
            formatter() {
              return 'Reading:<b>' + this.y
            }
          },
          yAxis: {
            title: {
              text: this.chartData.yAxisName
            }
          },
          series: this.chartData.readings
        })
      }
    }
  }
</script>
<style>
  .chartContainer {
    width: 100%;
    height: 400px;
  }
</style>