<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <chart :chartData="combinedMeterReadings" :id="'combined'"></chart>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div>From:
        <datepicker 
          v-model="fromDate" 
          placeholder="From date"
          v-on:selected="datePickerSelected"
          :monday-first="true" >
        </datepicker>
      </div>
      <div>To:
        <datepicker 
          v-model="toDate" 
          placeholder="To date"
          v-on:selected="datePickerSelected"
          :monday-first="true" >
        </datepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <chart :chartData="readingsByMeters" :id="'byMeters'"></chart>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'
  import Chart from './Chart.vue'
  import Datepicker from 'vuejs-datepicker'
  import moment from 'moment'

  Vue.component('datepicker', Datepicker)
  Vue.component('chart', Chart)

  export default {
    computed: mapGetters([ 'combinedMeterReadings', 'refreshInterval', 'readingsByMeters', 'timer' ]),
    created() {
      this.getReadings()
      this.setInterval()
    },
    watch: {
      refreshInterval() {
        this.clearInterval()
        this.setInterval()
      }
    },
    data() {
      return {
        fromDate: new Date(Date.now() - 86400000),
        toDate: new Date
      }
    },
    methods: {
      getReadings() {
        let fromDate = moment(this.fromDate).minute(0).hour(0)
        let toDate = moment(this.toDate).minute(59).hour(23)

        this.$store.dispatch('fetchCombinedMeterReadings')
        this.$store.dispatch('fetchReadingsGroupedByMeters', { from: fromDate, to: toDate })
      },
      setInterval() {
        let timer = setInterval(() => {
          this.getReadings()
        }, this.refreshInterval * 1000)
        this.$store.dispatch('setTimer', timer)
      },
      clearInterval(){
        this.$store.dispatch('clearTimer')
      },
      datePickerSelected() {
        setTimeout(() => {
          let fromDate = moment(this.fromDate).minute(0).hour(0)
          let toDate = moment(this.toDate).minute(59).hour(23)
          this.$store.dispatch('fetchReadingsGroupedByMeters', { from: fromDate, to: toDate })
        }, 0)
      }
    }
  }
</script>