<template>
  <div class="alert alert-danger alert-dismissible fade show" v-if="content.visible">
    <button type="button" class="close" v-on:click="close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{content.message}}
  </div>
</template>

<script>
  export default {
    props: [ 'content', 'close' ]
  }
</script>