<template>
  <div>
    <label>Refresh interval (sec)</label>
    <input class="interval" type="number" v-model="interval" v-on:input="onIntervalChange">
  </div>
</template>

<script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'

  export default {
    props: [ 'refreshInterval', 'changeInterval' ],
    data() {
      return {
        interval: this.refreshInterval
      }
    },
    methods: {
      onIntervalChange() {
        this.changeInterval(this.interval)
      }
    }
  }
</script>