<template>
  <div>
    <input type="text" placeholder="E-mail" class="form-control" v-model="email">
    <input type="password" placeholder="Password" class="form-control" v-model="password">
    <button class="btn btn-primary" v-on:click="submit">Login</button>
    <button class="btn btn-primary" v-on:click="signup">Create user</button>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    data() {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      submit() {
        this.$store.dispatch('login', { email: this.email, password: this.password })
      },
      signup() {
        this.$store.dispatch('signup', { email: this.email, password: this.password })
      }
    }
  }
</script>