<template>
  <div>
    <nav class="navbar navbar-light bg-faded">
      <div class="d-flex justify-content-end">
        <span class="navbar-text mr-auto p-2">{{user.email}}</span>
        <div class="mr-auto p-2">
          <interval :refreshInterval="refreshInterval" :changeInterval="changeInterval"></interval>
        </div>
        <a class="nav-link" v-on:click="logout">Logout</a>
      </div>
    </nav>      
  </div>
</template>

<script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'
  import Interval from './Interval.vue'

  Vue.component('interval', Interval)

  export default {
    computed: mapGetters([ 'user', 'refreshInterval']),
    methods: {
      logout() {
        this.$store.dispatch('logout')
      },
      changeInterval(newInterval) {
        this.$store.dispatch('changeInterval', newInterval)
      }
    }
  }
</script>

<style>
  a {
    text-decoration: none;
    cursor: pointer;
  }

  .interval {
    width: 60px;
  }
</style>