<template>
  <div id="app" class="container">
    <div v-if="!pageVisible">
      <error :content="error" :close="closeAlert"></error>
      <login></login>
    </div>
    <div v-if="pageVisible">
      <navigation></navigation>
      <error :content="error" :close="closeAlert"></error>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Login from './components/Login.vue'
import Navigation from './components/Navigation.vue'
import ErrorArea from './components/Error.vue'
import { mapGetters } from 'vuex'

Vue.component('login', Login)
Vue.component('navigation', Navigation)
Vue.component('error', ErrorArea)

  export default {
    computed: mapGetters([ 'user', 'pageVisible', 'error' ]),
    created() {
      this.$store.dispatch('checkSession')
    },
    methods: {
      closeAlert() {
        this.$store.dispatch('closeAlert')
      }
    }
  }
</script>

<style>
  a {
    text-decoration: none;
  }
</style>